.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  padding-top: calc(360px + 1rem); /* Adjust 64px to your navbar's height */
}

.typing-animation {
  overflow: hidden;
  border-right: .15em solid orange; /* Cursor color */
  white-space: nowrap;
  letter-spacing: .10em;
  animation: typing 3.5s steps(12, end) infinite, blink-caret .75s step-end infinite;
}

/* Typing and erasing */
@keyframes typing {
  0%, 100% { width: 0 }
  50% { width: 100% }
}

/* Cursor animations */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: purple; }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
